.gradle/
**/build/
.idea/
*.iml
local.properties
*.apk
*.aab
*.apks
*.jks
*.keystore
key.properties
.externalNativeBuild/
.cxx/
generated/
outputs/
intermediates/
captures/
*.log
.DS_Store
Thumbs.db
*.hprof
